<div class="row">
  <div class="col-xs-8">
    <p style="font-size: 20px">Game not found? Add the game!</p>
  </div>
  <div class="col-xs-3">
    <button class="btn btn-success" (click)="onNewGame()">New Game</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">

    <p style="font-size: 18px">Find your game easier:</p>
    <input type="text" [(ngModel)]="filteredStatus" placeholder="Search for game..." list="gametitles"  >
    <input type="text" [(ngModel)]="filteredGenre" placeholder="Search for genre..." list="gamegenres">

    <datalist id="gametitles">
      <option *ngFor="let game of games" value="{{game.title}}">
    </datalist>

    <datalist id="gamegenres">
      <option *ngFor="let game of games" value="{{game.genre}}">{{game.genre}}</option>
    </datalist>

    <!--<div class="btn-group" appDropdown>-->
      <!--<button type="button" class="btn btn-primary dropdown-toggle">Manage Game <span class="caret"></span></button>-->
      <!--<ul class="dropdown-menu">-->
        <!--<li *ngFor="let game of games | filter:filteredGenre: 'genre'"  ><a style="cursor: pointer;" (click)="onGenre()">{{game.genre}}</a></li>-->
        <!--<li></li>-->
      <!--</ul>-->
    <!--</div>-->

  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-game-item
      *ngFor="let gameEL of games  | filter:filteredGenre: 'genre'| filter:filteredStatus:'title'; let i = index"
      [game]="gameEL"
      [index]="i"></app-game-item>
  </div>
</div>

